#myVideoContainer {
    height:480px;
    width:100%;
    position:relative;
    background-image: url('../images/player_background.jpg');
}
#myVideoContainer.noBg {
  background-image:none;
  background-color: transparent;
}

#myVideoContainer #ajaxLoader {
    width: 150px;
    height: 150px;
    left: 275px;
    top: 130px;
    position: absolute;
}
#myVideoControlDiv {
    top:430px;
    right:0;
    left:0;
    height:50px;
    width:100%;
    position:absolute;
    border-top:1px solid #444444;
    /*background-color: #000000;*/
}
#myVideoName {
    color: #cccccc;
    font-size: 16px;
    font-family: verdana;
    font-weight: normal;
    height:23px;
    width:410px;
    position:absolute;
    left:12px;
    bottom:23px;  
    display:none;
    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
#myVideoStatus {
    color: #cccccc;
    font-size: 14px;
    font-family: verdana;
    font-weight: normal;
    height:23px;
    width:430px;
    position:absolute;
    left:12px;
    bottom:2px;
    display:none;
    overflow: hidden;
    text-overflow: ellipsis;
}
#myVideoControlDiv ul {
    margin:0;
    padding:0;
    list-style-type: none;
    height: 100%;
    width: 100%;
}
#myVideoControlDiv ul li {
    float: right;
    padding-left: 42px;
    margin-right: 12px;
    background-repeat: no-repeat !important;
    background-position: 0 7px;
    height: 100%;
}
#myVideoControlDiv ul li a {
    display: block;
    color: #cccccc;
    font-size: 16px;
    font-family: verdana;
    font-weight: normal;
    padding-top: 16px;
}
#myVideoControlDiv ul li:active {
    background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1));  /*Opera 11.1-12*/
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));  /*Standard*/
    background-repeat: no-repeat !important;
    background-position: 0 3px;
}

.rebootBtnDiv {
    margin-top: 1px;
    margin-left: 10px;
}

#myVideoList {
    top:66px;
    right:100px;
    bottom:61px;
    left:20px;
    position:absolute;
    font-size: 24px;
    color: #cccccc;
    font-family: verdana;
    overflow: hidden;
}
#myVideoList ul {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    list-style-type: none;
    /*overflow-y: scroll;*/
}
#myVideoList ul li {
    border-bottom: 1px solid #666666;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#myVideoList ul li:focus,  #myVideoList ul li:active {
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1));  /*Opera 11.1-12*/
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));  /*Standard*/
}
#myVideoScroll {
    top:120px;
    right:40px;
    position:absolute;
}
#myVideoScroll img {
    display:block;
    visibility:hidden;
    margin-top:30px;
}
#videoPlayControl {
    top:64px;
    right:0px;
    bottom:50px;
    left:0px;    
    position:absolute;
    display: none;
}
#videoPlayControl ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
#videoPlayControl ul li{
    float:left;
}
#videoShuffleBtn {
  top: 0;
  right: 30%;
  left: 0;
  width: 25%;
  height: 20%;
  margin: auto;
}
#videoReAllBtn {
  top: 0;
  right: 0;
  left: 30%;
  width: 25%;
  height: 20%;
  margin: auto;
}

#videoStopBtn {
  top: 80%;
  right: 0;
  left: 0;
  width: 50%;
  height: 20%;
  margin: auto;
}

#videoPlayBtn {
  top: 60px;
  bottom: 60px;
    left:60px;
    right:60px;
  height: 50%;
  width: 50%;
  margin: auto;
}
#videoNextBtn {
  top: 0;
  left: 80%;
  width: 20%;
  height: 220px;
}
#videoPlayFFBtn {
  top: 52%;
  left: 80%;
  width: 20%;
  height: 47%;
}

#videoPlayRWBtn {
  top: 52%;
  left: 0;
  width: 20%;
  height: 47%;
}
#videoPrevBtn {
  top: 0;
  left: 0;
  width: 20%;
  height: 45%;
}
.videoTouchControls {
  z-index: 20200;
  position:absolute;
    background-position: center;
    background-repeat: no-repeat;
  background-color: transparent;
  background-image: none;
}
.videoTouchControls:hover,.videoTouchControls:focus,.videoTouchControls:active{background-color:#000;}/*FOR TEST-ICLES*/
.selectedItem {
	background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1));  /*Opera 11.1-12*/
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
}
.playbackOption.selectedItem {
  text-shadow: 0 0 5px #fff;
}
